@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

*{
    margin: 0;
    padding: 0;    
}
/* shared styles */

.flex{
    display: flex;
}
.grid{
    display: grid;
}
section{
    width: auto;
    margin: 0 auto;
}

/* font-size & weight */

.bold{
    font-weight: 700;
}
.semibold{
    font-weight: 600;
}
.medium{
    font-weight: 500;
}
.small{
    font-size: 1.25rem;
}
.large{
    font-size: 1.5rem;
}
.larger{
    font-size: 3rem;
}

/* colors */

.orange{
    color: rgb(254, 163, 1);
}
.black{
    color: rgb(17, 17, 17);
}
.skyblue{
    color: rgb(1, 172, 253);
}
.white{
    color: rgb(255, 255, 255);
}
.violet{
    color:rgb(93, 88, 239);
}
.paste{
    color:rgb(5, 212, 223);
}
.grey{
    color: rgb(128, 128, 128);
}

/* layout */
.center{
    justify-content: center;
    align-items: center;
}
.borderless{
    border: none;
}

/* nav styles */

#hamburger{
    visibility: hidden;
}

.logo{
    align-items: center;
    gap: 11px;
}

.logo p{
    font-size: 32px;
    color: rgb(17, 17, 17);
}
.nav-container{
    max-width: 1440px;
    height: 62px;
    margin: 0 auto;
    padding: 1.25rem 0;
    justify-content: space-evenly;
    align-items: center;
}
a{
    text-decoration: none;
}
.nav-title{
    gap: 32px;
    list-style: none;
}
.nav-title li{
    font-size: 20px;
    font-weight: 500;
}
.btn-primary{
    background: rgb(254, 163, 1);
    color: rgb(255, 255, 255);
    padding: 10px;
    width: 197px;
    border: none;
    border-radius: 12px;
    font-size: 1.25rem;
    font-weight: 600;
    transition: 0.3s;
    cursor: pointer;
}

.btn-primary:hover{
    background-color: rgba(73, 48, 5, 0.8);
}

 /* banner styles */

.banner-container{
    height:auto;
    gap: 3rem;
}
.banner-title{
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
 }
.banner-description{
    margin-bottom: 1.5rem;
}
.black-button{
    border-radius: 12px;
    padding: 10px;
    background: rgb(17, 17, 17);
    width: 200px;
    height: 50px;
    transition: 0.3s;
    cursor: pointer;
}
.black-button:hover{
    background-color: rgba(5, 5, 5, 0.364);
}
.hero-image{
    width: 100%;
}
.offer-container{
    margin-top: 3rem;
    transition: 0.3s;
    cursor: pointer;
}
.offer-container:hover{
    transform: scale(1.1);
}
.offer{
    border: 3px solid rgb(254, 163, 1);
    background-color: rgb(1, 172, 253);
    padding: .6rem;
}

/* standard curriculum styles */

.standard-container{
    height: auto;
    padding: 3.75rem 0;
    text-align: center;
    background-image: url(../assets/bg.png);
}

.card-container {
    margin:5rem 9rem;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.75rem;
}

.card-1{
    background:linear-gradient(rgb(222, 245, 255), rgba(255, 255, 255, 0), white);
    box-shadow:inset 0px 0px 28px 1px rgb(222, 245, 255);
    padding: 4rem 0 3.35rem 0;
    border: 1px solid rgb(222, 245, 255);
    border-radius: 18px;
    transition: 0.3s;
    cursor: pointer;
}
 .card-1:hover{
    transform: scale(1.05);
    background-color: rgb(222, 245, 255);
}
.card-2{
    background: linear-gradient(rgb(255, 244, 220), rgba(255, 255, 255, 0), white);
    box-shadow:inset 0px 0px 28px 1px rgb(255, 244, 220);
    padding: 4rem 0 3.35rem 0;
    border: 1px solid rgb(255, 244, 220);
    border-radius: 18px;
    transition: 0.3s;
    cursor: pointer;
}
 .card-2:hover{
    transform: scale(1.05);
    background-color: rgb(255, 244, 220);
}
.card-3{
    background: linear-gradient(rgb(242, 232, 255), rgba(255, 255, 255, 0), white);
    box-shadow:inset 0px 0px 28px 1px rgb(242, 232, 255);
    padding: 4rem 0 3.35rem 0;
    border: 1px solid rgb(242, 232, 255);
    border-radius: 18px;
    transition: 0.3s;
    cursor: pointer;
}
 .card-3:hover{
    transform: scale(1.05);
    background-color: rgb(242, 232, 255);
}
.card-title, .card-description{
    margin-top: 2rem;
} 
.card-1, .card-2, .card-3 > p {
    line-height: 28.3px;
}
.icon-box{
    gap: 10px;
}
.icon{
    width: 60px;
    height: 60px;
    font-size: 1.5rem;
    border-radius: 30px;
    background: rgb(254, 163, 1);
    transition: 0.1s;
    cursor: pointer;
}
.icon:hover{
    background-color: rgb(100, 64, 3);
}

/* our stories styles */

.stories-container{
    padding: 3.75rem 0;
    background-image:url(../assets/bg.png), linear-gradient(to top, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3));
}
.stories-title, .story-btn{
    text-align: center;
}
.big-card-title{
    padding: 2.65rem 2.5rem;
}
.big-card-description{
    padding: 0rem 2.5rem 1.5rem;
    line-height: 28px;
}
.big-card, .stories-card-1,.stories-card-2 ,.stories-card-3 ,.stories-card-4{
    border-radius: 16px;
    background: rgb(255, 255, 255);
}
.stories-card-1,.stories-card-2, .stories-card-3,.stories-card-4 {
    width: 291px;
}
.img-container> img{
    width: 100%;
}
.story-img-radius{
    border-radius: 16px 16px 0 0;
}
.cards-container{
    margin: 5rem 8.75rem;
    gap: 1.5rem;
}
.stories-cards-container{
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
}
.stories-card-title{
    padding: 1.75rem;
}
.card-radius{
    border: none;
    border-radius: 48px;
    padding: 15px 20px;
    width: 175px;
}
.img-container{
    position: relative;
}

.card-btn{
    position: absolute;
    top: 52%;
    left: 8%;
    color: white;
    background-color: rgb(60, 216, 232);
    transition: 0.3s;
    cursor: pointer;
}
.card-btn:hover{
    background-color: rgb(40, 158, 190);
}
.card-btn-1, .card-btn-2, .card-btn-3, .card-btn-4 {
    position: absolute;
    top: 55%;
    left: 15%;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}
.card-btn-1{
    background-color: rgb(149, 178, 38);
}
 .card-btn-1:hover{
    background-color: rgb(75, 102, 7);
}
.card-btn-2{
    background-color: rgb(93, 88, 240);
}
.card-btn-2:hover{
    background-color: rgb(29, 24, 164);
}
.card-btn-3{
    background-color: rgb(254, 163, 1);
}
.card-btn-3:hover{
    background-color: rgb(115, 74, 9);
}
.card-btn-4{
    background-color: rgb(1, 172, 253);
    border: none;
    border-radius: 48px;
    padding: 15px 20px;
    width: 125px;
}
.card-btn-4:hover{
    background-color: rgb(100, 64, 3);
}
/* footer styles */

footer{
    padding: 150px 200px;
    margin: 0 auto;
    background-color: rgb(1, 172, 253);
    gap: 150px;
}
.footer-logo{
    align-items: center;
    gap: 11px;
    margin-bottom: 2rem;

}
.footer-nav-title{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.about, .social{
    margin-bottom: 2rem;
}

.social-container> a{
    margin-right: 1rem;
}

@media screen and (max-width:576px) {
    .school,
    .nav-title, 
    .contact, 
    .icon-box,
    .big-card{
        display: none;
    }

    /* navbar */

    #hamburger{
        visibility: visible;
        font-size: xx-large;
    }
    .logo{
        width: 100%;
        padding: .75rem 1rem;
        display: flex;
        justify-content: space-between;
    }
    .nav-container{
        height: auto;
        border-bottom: 0.5px solid rgb(254, 163, 1);
        margin-bottom: 8px;
    }
    /* banner  */

    .banner-container{
        flex-direction: column-reverse;
        padding: 20px 16px;
        justify-items: center;
    }
    .banner{
        text-align: center;
    }
    .banner-title{
        font-size: 2rem;
    }
    .banner-description{
        font-size: 1rem;
    }
    .hero-image{
        width: 100%;
    }

    /* standard */

    .standard-container{
        padding-top: 0px;
    }
    .standard-title{
        font-size: 1.75rem;
    }
    .card-container{
        margin: 20px 16px;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 12px;
    }
    .card-1, .card-2, .card-3 {
        padding: 36px 28px;
    }

    /* stories  */

    .stories-container{
        padding-top: 40px 0;
    }
    .cards-container{
        margin: 1.25rem 1rem;
    }
    .stories-cards-container{
        grid-template-columns: repeat(2, 1fr);
        gap: .75rem;
    }
    .img-container> img{
        width: 100%;
    }
    .stories-card-title{
        font-size: 16px;
        padding: 20px;
        margin-top: 15px;
    }
    .stories-card-1,.stories-card-2,.stories-card-3,.stories-card-4 {
        width: 100%;
    }
    .img-container{
        position: relative;
    }
    .card-btn-1, .card-btn-2, .card-btn-3, .card-btn-3, .card-btn-4 {
        padding: 12px;
        position: absolute;
        top: 52%;
        left: 8%;
        color: white;
    }

    /* footer */

    footer{
        flex-direction: column;
        padding: 40px 20px;
        gap: 2rem;
    }
    .social-container> a{
        margin-right: 1rem;
    }
}

@media screen and (max-width:445px) {
    .card-btn-1, .card-btn-2, .card-btn-3{
        width: 150px;
        padding: 6px;
        position: absolute;
        left: 10%;
    }
    .card-btn-1, .card-btn-2{
        top: 44%;
    }
    .card-btn-3{
        top: 42%;       
    }
    .card-btn-4{
        width: 120px;
        padding: 6px;
        position: absolute;
        top: 45%;
        left: 10%;    
    }
}
@media screen and (max-width:400px) {
    .card-btn-1, .card-btn-2, .card-btn-3{
        width: 140px;
        padding: 6px;
        position: absolute;
        top: 40%;
        left: 10%;
    }
    .card-btn-4{
        width: 100px;
        padding: 6px;
        position: absolute;
        top: 40%;
        left: 10%;    
    }
}